body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-top: 0;
}

.text--bold {
    font-weight: 600;
}

.text--yellow {
    color: #ff8700;
}

.box {
    border-radius: 4px;
    padding: 15px;
    background: white;
    border: 1px solid #3333332b;
    justify-content: center;

}

.spacer {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
} 

.hover--opacity:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: all .2s;
}

.display-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field {
    padding: 5px 15px;
    border: 1px solid #0000002e;
    background: #80808017;
    border-radius: 5px;
    display: flex;
    font-size: 14px;
    align-items: center;

} 

.payment__row {
    display:flex; 
    justify-content: space-between;
    padding:15px;
    margin:5px;
    border:1px solid #028534;
}
.lisaItem{

    font-family: 'Times New Roman', Times, serif;
    justify-content: space-between;
    padding: 5px 5px;
    border: 1px solid #0000002e;
    background: #80808017;
    border-radius: 5px;
    display: flex;
    font-size: 20px;
    align-items: center;
}
.lisaItem button{
    color:rgb(6, 99, 6);
    font-size:20px;
}