.btn.btn--fancy {
    background: #d41d46;
    font-size: large;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    float: right;
    border: 0;
    display: flex;
}

.btn--fancy:hover {
    cursor: pointer;
    background: #f36987;
    transition: all .2s ease-in-out;

  }
  

.btn-inner {
    display: flex;
    align-items: center;
  } 